<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Events</title>
</head>
<body>

<nav>
    <a href="/">Back to Home</a> |
</nav>

<div>
    <table style="border: 1px solid black">
        <thead>
        <tr>
            <th style="border: 1px solid black" scope="col">Id</th>
            <th style="border: 1px solid black" scope="col">Title</th>
            <th style="border: 1px solid black" scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${events}">
            <td style="border: 1px solid black" th:text="${event.id}"></td>
            <td style="border: 1px solid black" th:text="${event.title}"></td>
            <td style="border: 1px solid black" th:text="${event.date}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>