<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div>
    <h1>Welcome to ticket and user service</h1>
    <nav >
        <a href="/user/create">Create user</a> |
        <a href="/ticket/create">Create ticket</a> |
        <a href="/event/create">Create event</a> |
        <a href="/user/delete">Delete user</a> |
        <a href="/user/all">Get all users</a> |
        <a href="/get/pdf/tickets">Get all tickets in PDF</a> |
        <a href="/ticket/fill">Fill ticket storage from xml file and get page with all tickets</a>
    </nav>
</div>

</body>
</html>